extends layout

block content

    div(class="grey lighten-2" id="main")
        div(class="row")
            div(class="m10 offset-m1 s12 col")
                div(class="row")
                    div(class="m8 col")
                        h4 TROD 项目有哪些应用场景？
                        p TROD 项目主要包含各种已知的影响IT系统稳定运行的技术风险数据。每一条技术风险数据都详细注明了此风险所属领域、技术栈，有言简意赅的风险项名称，精准的风险项描述以及对应的修复建议和解决方案。
                        p(class="grey-text" style="text-align:center") <img src="//static.trod.pub/resource/img/sample.png" width="90%" alt="TROD 项目数据样本" /><br/>TROD 项目数据样本
                        p 在中国信通院2022年发布的《信息系统稳定性保障能力建设指南（1.0）》中，有提到多种保障系统稳定性的建设思路和标准规范，TROD 项目可以广泛应用在 DevOps 的各个环节之中，如：研发自测、测试准入、非功能测试、生产准入、风险巡检等等，在实现风险左移、健康巡检、风险预测、根因定位等能力时可以为您提供丰富的风险数据，极大提高效率。
                        p(class="grey-text" style="text-align:center") <img src="//static.trod.pub/resource/img/devops.png" width="90%" alt="TROD 项目在 DevOps 各环节应用场景" /><br/>TROD 项目在 DevOps 各环节应用场景
                        
                        p(class="flow-text") <a href="/risk">查看TROD数据</a>
                    
                    div(class="s12 m4 col")
                        div(class="lighten-1")
                            h5(class="top-margin") TROD 是什么？
                            p(class="grey-text text-darken-1") TROD 是 Technical Risk Open Data 的首字母缩写，是开源项目：IT系统稳定性技术风险开放数据的项目名称。
                            p(class="grey-text text-darken-1") 随着IT系统架构复杂度的不断提高，DevOps实践的不断深入，IT系统风险规模和深度的挑战也越来越高。众所周知，风险排查、根因定位和性能调优本就非常复杂，费时费力，为了方便开发者能降低成本提高系统稳定性，本着共建共享的精神，我们发起了<a href="https://github.com/trod-pub/trod" target="_blank" rel="noopener noreferrer nofollow">TROD开源项目</a>，邀请大家一起来收集日常工作中踩过的坑、遇到过的、解决过的各种疑难杂症风险信息，让所有开发者可以少走弯路，提高发现问题、定位问题、解决问题的效率。

                            p(class="top-margin") <a href="https://github.com/trod-pub/trod#如何贡献" class="green-text" target="_blank" rel="noopener noreferrer nofollow">我也要贡献风险数据 <i class="mdi-action-link"></i></a>
                            
                            h5(class="top-margin") <i class="mdi-action-ecosystem"></i> 生态伙伴
                            p(class="grey-text") <i class="mdi-action-question"> TROD生态伙伴指的是为TROD项目提供指导方针、宣传TROD项目、基于TROD项目的衍生、可为TROD项目提供工具、平台、资源帮助等实体、社区、产品、项目、平台等伙伴</i>
                            ul
                                li <a href="http://www.caict.ac.cn" target="_blank" rel="noopener noreferrer nofollow">信通院</a>
                                li <a href="https://heapdump.cn" target="_blank" rel="noopener noreferrer nofollow">HeapDump性能社区</a>
                                li <a href="https://xpocket.perfma.com" target="_blank" rel="noopener noreferrer nofollow">XPocket开源项目</a>

                            p(class="top-margin") <a href="https://github.com/trod-pub/trod/issues/1" class="green-text" target="_blank" rel="noopener noreferrer nofollow">加入TROD生态伙伴 <i class="mdi-action-link"></i></a>
