doctype html
html
  head
    title= title
    meta(name="keywords" content="#{meta-keywords}")
    meta(name="description" content="#{meta-description}")
    link(rel='stylesheet', href='https://serverless-devs-app-pkg.oss-cn-beijing.aliyuncs.com/web-framework-demo.css')
  body
    block content
